<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.billvgn.gameutilities">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_game_utilities"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_game_utilities"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OverlayActivity"></activity>
        <activity android:name=".StartServiceActivity"></activity>

        <receiver android:name=".CCFSLauncherWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ccfslauncher_widget_info" />
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.gameutilities.net"
                    android:scheme="http" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <receiver android:name=".SetTimeBroadcastReceiver">
            <intent-filter>
                <action android:name="plus" />
                <action android:name="minus" />
                <action android:name="refill" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ExecuteGameBroadcastReceiver" />

        <service
            android:name=".OverlayRefillService"
            android:exported="false" />
    </application>

</manifest>